/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
}

/* Cabeçalho */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.search-bar {
    margin: 15px 0;
}

.search-bar input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
}

/* Produtos */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.product h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.product .price {
    color: green;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Rodapé */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer .logo img {
    width: 100px;
    margin-bottom: 10px;
}
